<div class="contenido" class="mat-typography">
    
    <div class="cabecera" mat-dialog-title>
        <mat-icon class="iconoBarras iconPB_2" svgIcon="i_filtro"></mat-icon>
        <span class="titulo">{{ this.servicio.rTraduccion()[316] }}</span>
    </div>
    <div class="cajaLista">
        <div mat-dialog-conten class ="lista">
            <div class="registroCampo"> 
                <div class="registroTitulo">{{ this.servicio.rTraduccion()[301] }}</div>    
                <mat-form-field class="cajaTexto">
                    <mat-select #lstC0 [(ngModel)]="datos.clase" name="datos.clase">
                        <mat-option value="-1">{{ this.servicio.rTraduccion()[302] }}</mat-option>
                        <mat-option value="0">{{ this.servicio.rTraduccion()[303] }}</mat-option>
                        <mat-option value="1">{{ this.servicio.rTraduccion()[304] }}</mat-option>
                        <mat-option value="2">{{ this.servicio.rTraduccion()[305] }}</mat-option>
                        <mat-option value="3">{{ this.servicio.rTraduccion()[306] }}</mat-option>
                        <mat-option value="4">{{ this.servicio.rTraduccion()[3758] }}</mat-option>
                    </mat-select>
                </mat-form-field>                            
                <span class="ayudaCampo_2">{{ this.servicio.rTraduccion()[307] }}</span>       
            </div>
            <div class="registroCampo"> 
                <div class="registroTitulo">{{ this.servicio.rTraduccion()[308] }}</div>    
                <mat-form-field class="cajaTexto">
                    <mat-select [(ngModel)]="datos.concepto" name="datos.concepto">
                        <mat-option *ngFor="let concepto of conceptos; let i = index" [value]="concepto.id">{{ concepto.nombre }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>                            
                <span class="ayudaCampo_2">{{ this.servicio.rTraduccion()[309] }}</span>       
            </div>
            <div class="registroCampo"> 
                <div class="registroTitulo">{{ this.servicio.rTraduccion()[761] }}</div>    
                <mat-form-field class="cajaTexto">
                    <mat-select [(ngModel)]="datos.area" name="datos.area">
                        <mat-option *ngFor="let area of areas; let i = index" [value]="area.id">{{ area.nombre }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>                            
                <span class="ayudaCampo_2">{{ this.servicio.rTraduccion()[311] }}</span>       
            </div>

            <div class="registroCampo">
                <div class="registroTitulo">{{ this.servicio.rTraduccion()[312] }}</div>    
                 <mat-form-field class="cajaTexto">
                <input matInput [matDatepicker]="dp"  [(ngModel)]="datos.fecha" name="datos.fecha">
                <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                <mat-datepicker #dp
                                startView="multi-year"
                                (monthSelected)="chosenMonthHandler($event, dp)"
                               >
                </mat-datepicker>
              </mat-form-field>
                <span class="ayudaCampo_2">{{ this.servicio.rTraduccion()[313] }}</span>    
            </div>    

            
            <div class="registroCampo">
                <div class="registroTitulo">{{ this.servicio.rTraduccion()[314] }}</div>  
                <mat-form-field class="cajaTexto">
                    <input matInput #txtT1 [(ngModel)]="datos.descripcion" maxlength="50" autocomplete="off" name="datos.descripcion" #valorVariable="ngModel">
                </mat-form-field>
                <span class="ayudaCampo_2">{{ this.servicio.rTraduccion()[315] }}</span>                                
            </div>
           

            
        </div>
    </div>


    <div class="pie" mat-dialog-actions>
        <button class="positivo indice" mat-button (mouseover)="validar01=true;" (mouseout)="validar01=false;" [ngClass]="{ botHover: validar01 }" (click)="validar(1)">
            <mat-icon class="iconPB_3" svgIcon="in_seleccionado"></mat-icon>
            <span class="botTexto">{{ this.servicio.rTraduccion()[316] }}</span>
        </button>

        <button class="boton indice" mat-button (mouseover)="validar03=true;" (mouseout)="validar03=false;" [ngClass]="{ botHover: validar03 }" (click)="quitarFiltro()">
            <mat-icon class="iconPB" svgIcon="i_eliminar"></mat-icon>
            <span class="botTexto">{{ this.servicio.rTraduccion()[317] }}</span>
        </button>

        <button class="boton indice" mat-button (mouseover)="validar02=true;" (mouseout)="validar02=false;" [ngClass]="{ botHover: validar02 }" (click)="validar(2)">
            <mat-icon class="iconPB" svgIcon="i_cancelar"></mat-icon>
            <span class="botTexto">{{ this.servicio.rTraduccion()[77] }}</span>
        </button>
    </div>

</div>
    